{% load humanize %}
{% for comment in comments %}
    <div class="media">
        <a class="media-left" href="{% url 'profile' comment.user %}">
            <span class="userpic-30 glyphicon glyphicon-user"></span>
        </a>
        <div class="media-body">
            <div class="username">
                <a href="{% url 'profile' comment.user %}">{{ comment.user }}</a>
                <span> ({{ comment.created|naturaltime }})</span>
            </div>
            {{ comment }}
        </div>
    </div>
{% endfor %}
{% if comments.has_other_pages %}
    <ul class="pagination">
        {% if comments.has_previous %}
            <li><a href="?page={{ comments.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in comments.paginator.page_range %}
            {% if comments.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if comments.has_next %}
            <li><a href="?page={{ comments.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}