{% load i18n %}
{% if not tweets %}
    <div class="well">
        <span>{% trans 'Nothing to show' %}</span>
    </div>
{% elif tweets.0 == ' ' %}
    <div></div>
{% else %}
    {% load humanize %}
    {% for tweet in tweets %}
        <div class="well tweet">
            <div class="username">
                <a href="/user/{{ tweet.user.username }}">{{ tweet.user.username }}</a>
                <span> ({{ tweet.created|naturaltime }})</span>
            </div>
            <div>{{ tweet.text }}</div>
            <div>
                <button class="btn btn-default btn-transparent like-btn">
                    <i class="glyphicon glyphicon-heart{{ tweet.selflike|yesno:',-empty'}}"></i>
                    <a href="#" data-toggle="modal" data-target="#likeModal{{tweet.id}}"> {{ tweet.like.users.all.count }}</a>
                </button>
                <div id="likeModal{{tweet.id}}" class="modal fade">
                    {% include 'partials/_modal_list.html' with title='Likes' data=tweet.like.users.all %}
                </div>
                <button class="btn btn-default btn-transparent retweet-btn">
                    <i class="glyphicon glyphicon-retweet"></i>
                    <a href="#" data-toggle="modal" data-target="#retweetModal{{tweet.id}}"> {{ tweet.count_retweets }}</a>
                </button>
                <div id="retweetModal{{tweet.id}}" class="modal fade">
                    {% include 'partials/_modal_retweet.html' with title='Retweets' data=tweet.retweets.all %}
                </div>
                <button class="btn btn-default btn-transparent comment-btn">
                    <i class="glyphicon glyphicon-comment"></i>
                    <a href="#"> {{ tweet.count_comments }}</a>
                </button>
            </div>
        </div>
    {% endfor %}
    {% if tweets.has_other_pages %}
        <ul class="pagination">
            {% if tweets.has_previous %}
                <li><a href="?page={{ tweets.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in tweets.paginator.page_range %}
                {% if tweets.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if tweets.has_next %}
                <li><a href="?page={{ tweets.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endif %}