{% load i18n %}
{% if not tweets %}
    <div class="well">
        <span>{% trans 'Nothing to show' %}</span>
    </div>
{% elif tweets.0 == ' ' %}
    <div></div>
{% else %}
    {% load humanize %}
    {% for tweet in tweets %}
        <div class="media well tweet">
             <a class="media-left" href="{% url 'profile' profile %}">
                <span class="userpic-50 glyphicon glyphicon-user"></span>
            </a>
            <div class="media-body">
                <div class="username">
                    <a href="{% url 'profile' tweet.user %}">{{ tweet.user }}</a>
                    {% if tweet.tweet %}
                        <span class="glyphicon glyphicon-retweet"></span>
                        <a href="{% url 'profile' tweet.tweet.user %}">{{ tweet.tweet.user }}</a>
                    {% endif %}
                    <span> ({{ tweet.created|naturaltime }})</span>
                </div>
                {% if tweet.tweet %}<div>{{ tweet.tweet.text }}</div>{% else %}<div>{{ tweet.text }}</div>{% endif %}
                <div>
                    <button class="btn btn-default btn-transparent like-btn">
                        <i class="glyphicon glyphicon-heart{{ tweet.selflike|yesno:',-empty'}}"></i>
                        <a href="#" data-toggle="modal" data-target="#likeModal{{tweet.id}}"> {{ tweet.like.users.all.count }}</a>
                    </button>
                    <div id="likeModal{{tweet.id}}" class="modal fade">
                        {% trans 'Likes' as likes %}
                        {% include 'partials/_modal_list.html' with title=likes data=tweet.like.users.all %}
                    </div>
                    <button class="btn btn-default btn-transparent retweet-btn">
                        <i class="glyphicon glyphicon-retweet"></i>
                        <a href="#" data-toggle="modal" data-target="#retweetModal{{tweet.id}}"> {{ tweet.count_retweets }}</a>
                    </button>
                    <div id="retweetModal{{tweet.id}}" class="modal fade">
                        {% trans 'Retweets' as retweets %}
                        {% include 'partials/_modal_retweet.html' with title=retweets data=tweet.retweets.all %}
                    </div>
                    <button class="btn btn-default btn-transparent comment-btn">
                        <i class="glyphicon glyphicon-comment"></i>
                        <a href="#"> {{ tweet.count_comments }}</a>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if tweets.has_other_pages %}
        <ul class="pagination">
            {% if tweets.has_previous %}
                <li><a href="?page={{ tweets.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in tweets.paginator.page_range %}
                {% if tweets.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if tweets.has_next %}
                <li><a href="?page={{ tweets.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endif %}