<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
        <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen" />
        <link href="{% static 'css/lang/languages.min.css' %}" rel="stylesheet" media="screen" />
        {% block css %}
        {% endblock %}
        <title>{{ title }}</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            {% include "base/header.html" %}
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            {% include "base/footer.html" %}
        </nav>

        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>