body {
  padding-top: 60px;
  padding-bottom: 60px;
}

div.username {
  font-size: 75%;
  text-align: left;
  font-weight: bold;
}

.userpic {
  font-size: 70px;
}

.profile.stat {
  font-size: 140%;
}

ul.pagination {
    display: flex;
    justify-content: center;
}

.well.profile {
    padding: 10px;
}

.row.stat {
    margin-right: 0px;
    margin-left: 0px;
}

.btn-transparent {
    background: transparent;
    border: 0px;
}

.btn-transparent:hover {
    background: transparent;
    border: 0px;
}

.btn-transparent:focus {
    outline: none; /* It's very bad idea! */
    background: transparent;
}

#lang-selector {
     margin-top: 6px;
}

.well.tweet {
    padding-top: 10px;
    padding-bottom: 0px;
}