body {
  padding-top: 60px;
  padding-bottom: 60px;
}

div.username {
  font-size: 75%;
  text-align: left;
  font-weight: bold;
}

.userpic-10 {
  font-size: 10px;
}

.userpic-20 {
  font-size: 20px;
}

.userpic-30 {
  font-size: 30px;
}

.userpic-40 {
  font-size: 40px;
}

.userpic-50 {
  font-size: 50px;
}

.userpic-60 {
  font-size: 60px;
}

.userpic-70 {
  font-size: 70px;
}

.userpic-80 {
  font-size: 80px;
}

.userpic-90 {
  font-size: 90px;
}

.userpic-100 {
  font-size: 100px;
}

.profile.stat {
  font-size: 140%;
}

ul.pagination {
    display: flex;
    justify-content: center;
}

.well.profile {
    padding: 10px;
}

.row.stat {
    margin-right: 0px;
    margin-left: 0px;
}

.btn-transparent {
    background: transparent;
    border: 0px;
}

.btn-transparent:hover {
    background: transparent;
    border: 0px;
}

.btn-transparent:focus {
    outline: none; /* It's very bad idea! */
    background: transparent;
}

#lang-selector {
     margin-top: 6px;
}

.well.tweet {
    padding-top: 10px;
    padding-bottom: 0px;
}