{% extends "base/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 column">
            <form id="search-form" method="post">
                {% csrf_token %}
                {{ search.query.errors }}
                <div class="input-group">
                    {% if search.query.value %}
                        <input type="text" class="form-control" placeholder="{% trans 'Search' %}" name="{{ search.query.name }}" value="{{ search.query.value }}">
                    {% else %}
                        <input type="text" class="form-control" placeholder="{% trans 'Search' %}" name="{{ search.query.name }}">
                    {% endif %}
                    <div class="input-group-btn">
                        <button class="btn btn-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <h5>&nbsp;</h5>
        </div>
        <div class="col-md-6 col-md-offset-3 column tweets">
            {% include 'partials/_tweet_wall.html' with tweets=tweets %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %}