{% extends "base/base.html" %}
{% load i18n %}
{% block content %}
    {% if form.errors %}
        <p>{% trans 'Error! Please try again.' %}</p>
    {% endif %}
    {{ form.as_p }}
    <form class="form-horizontal" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="form-group">
            <div class="control-label col-md-4 col-md-offset-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                    <input type="text" class="form-control" id="username" name="{{ form.username.name }}" placeholder="{{ form.username.label }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-4 col-md-offset-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></div>
                    <input type="text" class="form-control" id="firstname" name="{{ form.first_name.name }}" placeholder="{{ form.first_name.label }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-4 col-md-offset-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></div>
                    <input type="text" class="form-control" id="lastname" name="{{ form.last_name.name }}" placeholder="{{ form.last_name.label }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-4 col-md-offset-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                    <input type="email" class="form-control" id="email" name="{{ form.email.name }}" placeholder="{{ form.email.label }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-4 col-md-offset-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                    <input type="password" class="form-control" id="password" name="{{ form.password.name }}" placeholder="{{ form.password.label }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <div  class="center-block text-center">
                    <button type="submit" class="btn btn-success">{% trans 'Sign Up' %}</button>
                    <span> {% trans 'or' %} </span>
                    <a href="{% url 'login' %}"><button type="button" class="btn btn-default">{% trans 'Login' %}</button></a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}